---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="CEPRIJA | Educación Superior">
	<main>
		<Hero />

		<Features />
		<Testimonials />
	</main>
</Layout>
